<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" 
  integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div id="registration-container" class="mt-5">
      <h2 class="text-center mb-4">Register</h2>

      <div id="step-1">
        <h3 class="text-center mb-4">Step 1: Basic Information</h3>
        <div class="form-group mb-4">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" value="username"  required>
        </div>
        <div class="form-group mb-4">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="email@email.com"  required>
        </div>
        <div class="form-group mb-4">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" value="password"  required>
        </div>
        <div class="form-group mb-4">
          <label for="fullName">Full Name</label>
          <input type="text" class="form-control" id="fullName" name="fullName" value="fullName"  required>
        </div>
        <div class="form-group mb-4">
          <label for="age">Age</label>
          <input type="number" class="form-control" id="age" name="age" value="25"  required>
        </div>
        <div class="form-group mb-4">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" name="gender"  required>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <button id="next-step-1" type="button" class="btn btn-primary btn-block">Next</button>
      </div>

      <div id="step-2" style="display: none;">
        <h3 class="text-center mb-4">Step 2: Bio</h3>
        <% questionsMap.forEach((question) => { %>
          <div class="form-group mb-4">
            <label for="bio-<%= question.name %>"><%= question.label %></label>
            <input type="number" class="form-control" id="bio-<%= question.name %>" name="bio[<%= question.name %>]" min="1" max="5" value="2" required>
          </div>
        <% }); %>
        <div class="d-flex justify-content-between">
          <button id="prev-step-2" type="button" class="btn btn-secondary">Previous</button>
          <button id="next-step-2" type="button" class="btn btn-primary">Next</button>
        </div>
      </div>

      <div id="step-3" style="display: none;">
        <h3 class="text-center mb-4">Step 3: Preferences</h3>
        <% questionsMap.forEach((question) => { %>
          <div class="form-group mb-4">
            <label for="preferences-<%= question.name %>"><%= question.label %></label>
            <input type="number" class="form-control" id="preferences-<%= question.name %>" name="preferences[importance][<%= question.name %>]" min="1" max="5" value="5" required>
          </div>
        <% }); %>
        <div class="form-group mb-4">
          <label for="budget">Budget</label>
          <input type="number" class="form-control" id="budget" name="preferences[budget]" value="3000" required>
        </div>
        <div class="form-group mb-4">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" name="preferences[address]" value="tlv" required>
        </div>
        <div class="d-flex justify-content-between">
          <button id="prev-step-3" type="button" class="btn btn-secondary">Previous</button>
          <button id="submit-form" type="submit" class="btn btn-primary">Register</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/scripts/register.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
  crossorigin="anonymous"></script>

</body>

</html>